.left-pane{
    min-height: 90vh;
    background-color: rgb(240,240,240);
}
input{
    border: none;
    outline:none;
    font-weight: bold;
}
h1{
    font-weight: 1000;
}
button{
    border: none;
    outline: none;
}
#tasks{
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

